@font-face {
    font-family:gothic;
    src:url(../fonts/DidactGothic-Regular.ttf);
    font-display:block;
}
* {
    box-sizing:border-box;
    user-select:none;
}
:root {
    --dice:max(3vw,3vh);
    --hdice:max(1.5vw,1.5vh);
    --dot:max(0.7vw,0.7vh);
    --chip:3vw;
}
body {
    cursor:default;
    display:flex;
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    margin:0;
    align-items:center;
    justify-content:center;
    font-family:gothic;
    color:rgba(255,255,255,0.6);
    background:#222;
}

/* BOARD */
#board,
#gameboard {
    position:absolute;
    display:flex;
    align-items:center;
    justify-content:center;
    width:75vw;
    height:75vh;
    border-radius:0.5rem;
    transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    /* border:1px solid rgba(255,255,255,0.1); */
}
#board {
    box-shadow:-1rem -1rem 2rem rgba(255,255,255,0.1), 1rem 1rem 2rem rgba(0,0,0,0.3);
}
#top,
#game-top {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:50%;
}
#bottom,
#game-bottom {
    position:absolute;
    top:50%;
    left:0;
    width:100%;
    height:50%;
}
#top span,
#bottom span,
#game-top span,
#game-bottom span {
    display:flex;
    flex-direction:column;
    align-items:center;
    float:left;
    width:calc(100% / 13);
    height:100%;
    background:none;
}
#game-bottom span {
    justify-content:flex-end;
}
.chip {
    width:var(--chip);
    height:var(--chip);
    border-radius:50%;
    cursor:pointer;
    z-index:10;
    transition:transform 0.2s ease-in-out;
}
.chip:hover {
    transform:scale(1.2);
}
#game-top .chip,
#game-bottom .chip {
    width:var(--chip);
    height:var(--chip);
    border-radius:50%;
}
#game-top .chip.black,
#game-bottom .chip.black {
    background-color:#555;
    box-shadow:inset 0 0 10px #222;
}
#game-top .chip.white,
#game-bottom .chip.white {
    background-color:#bbb;
    box-shadow:inset 0 0 10px #222;
}
.space {
    width:100%;
    height:100%;
    position:relative;
    z-index:0;
}
#top .space {
    opacity:0.5;
    clip-path:polygon(0 0, 50% 75%, 100% 0);
    transition:all 0.2s ease-in-out;
}
#bottom .space {
    opacity:0.5;
    clip-path:polygon(0 100%, 50% 25%, 100% 100%);
    transition:all 0.2s ease-in-out;
}
#top .space:hover {
    cursor:pointer;
    clip-path:polygon(0 0, 50% 85%, 100% 0);
}
#bottom .space:hover {
    cursor:pointer;
    clip-path:polygon(0 100%, 50% 15%, 100% 100%);
}
#top .space:nth-child(odd),
#bottom .space:nth-child(even) {
    background-color:#555;
}
#top .space:nth-child(even),
#bottom .space:nth-child(odd) {
    background-color:#ddd;
}
#top span:nth-child(n+7),
#bottom span:nth-child(n+7),
#game-top span:nth-child(n+7),
#game-bottom span:nth-child(n+7) {
    transform:translateX(100%);
}
/* ADDITIONAL BOARD AREAS */
#doubling {
    display:flex;
    align-items:center;
    justify-content:center;
    position:absolute;
    right:-20px;
    width:calc(2 * var(--dice));
    height:calc(2 * var(--dice));
    /* background:#777; */
    font-family:gothic;
    font-weight:900;
    font-size:2rem;
    color:#222;
    /* box-shadow:inset 0 0 10px #222; */
}

/* BOUNCE AREAS */
#bounce-top {
    position:absolute;
    top:0;
    left:50%;
    width:calc(100% / 13);
    height:50%;
    /* background:gray; */
    transform:translateX(-50%);
    /* box-shadow:inset 0 0 10px #222; */
}
#bounce-bottom {
    position:absolute;
    top:50%;
    left:50%;
    width:calc(100% / 13);
    height:50%;
    /* background:lightgray; */
    transform:translateX(-50%);
    /* box-shadow:inset 0 0 10px #222; */
}

/* TOOLS MENU */
#settings {
    position:fixed;
    top:0;
    right:0;
    cursor:pointer;
    filter:invert(1);
    opacity:0.2;
    transform:scale(0.5);
    transition:all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    z-index:3;
}
#settings:hover {
    opacity:0.7;
}
#settings.open {
    opacity:0.7;
}
#tools,
#colors {
    position:fixed;
    top:-25vh;
    width:100vw;
    height:25vh;
    text-align:center;
    background:none;
    z-index:1;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
#tools.open,
#colors.open {
    top:1rem;
}
#tools > span:hover {
    cursor:pointer;
    text-decoration:underline;
    font-weight:600;
    color:rgba(255,255,255,0.7);
}
#tools > span,
#colors > span {
    margin-left:1rem;
}
.color {
    cursor:pointer;
    background:none;
    border:none;
}
.color-icon {
    width:1rem;
    height:1rem;
    filter:invert(1);
    opacity:0.6;
}
/* BUTTONS */
button {
    cursor:pointer;
    width:100%;
    height:2rem;
    background:rgba(255,255,255,0.2);
    border:none;
    color:#111;
    font-family:gothic;
    text-align:center;
    transition:all 0.2s ease-in-out;
}
button:hover {
    font-weight:800;
    color:rgba(255,255,255,0.7);
}

/* COLORS */
.black {
    background-color:#555;
    box-shadow: inset 0 0 6px #000;
}
.white {
    background-color:#ddd;
    box-shadow: inset 0 0 6px #000;
}

/* DICE */
#dice-black,
#dice-white {
    display:flex;
    align-items:center;
    justify-content:center;
    cursor:pointer;
    user-select:none;
    z-index:4;
}
#dice-white {
    position:absolute;
    left:13.7%;
    top:39%;
}
#dice-black {
    position:absolute;
    left:67.5%;
    top:39%;
}
.rolling {
    animation:spinning 2s linear infinite;
}
#d-1,
#d-2,
#d-3,
#d-4 {
    margin:calc(var(--dice));
    transform-style:preserve-3d;
    transform-origin:var(--hdice) var(--hdice);
    z-index:15;
    transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
#d-1 div,
#d-2 div,
#d-3 div,
#d-4 div {
    position:absolute;
    top:0;
    left:0;
    width:var(--dice);
    height:var(--dice);
}
.f-1 {
    transform:translateZ(calc(-1 * var(--hdice))) rotateY(180deg);
    border:none;
}
.f-2 {
    transform:rotateY(90deg) translateZ(var(--hdice));
    border:none;
}
.f-3 {
    transform:rotateX(90deg) translateZ(var(--hdice));
    border:none;
}
.f-4 {
    transform:rotateX(-90deg) translateZ(var(--hdice));
    border:none;
}
.f-5 {
    transform:rotateY(-90deg) translateZ(var(--hdice));
    border:none;
}
.f-6 {
    transform:translateZ(var(--hdice));
    border:none;
}
.black-dice span {
    position:absolute;
    width:var(--dot);
    height:var(--dot);
    border-radius:50%;
    background:#bbb;
    box-shadow:none;
    z-index:6;
}
.white-dice span {
    position:absolute;
    width:var(--dot);
    height:var(--dot);
    border-radius:50%;
    background:#222;
    box-shadow:none;
    z-index:6;
}
.f-1 span {top:38%;left:38%;}

.f-2 span:nth-child(1) {top:10%;left:10%}
.f-2 span:nth-child(2) {bottom:10%;right:10%}

.f-3 span:nth-child(1) {top:10%;left:10%}
.f-3 span:nth-child(2) {top:38%;left:38%}
.f-3 span:nth-child(3) {bottom:10%;right:10%}

.f-4 span:nth-child(1) {top:10%;left:10%}
.f-4 span:nth-child(2) {bottom:10%;left:10%}
.f-4 span:nth-child(3) {top:10%;right:10%}
.f-4 span:nth-child(4) {bottom:10%;right:10%}

.f-5 span:nth-child(1) {top:10%;left:10%}
.f-5 span:nth-child(2) {top:10%;right:10%}
.f-5 span:nth-child(3) {top:38%;left:38%}
.f-5 span:nth-child(4) {bottom:10%;left:10%}
.f-5 span:nth-child(5) {bottom:10%;right:10%}

.f-6 span:nth-child(1) {top:10%;left:10%}
.f-6 span:nth-child(2) {bottom:10%;left:10%}
.f-6 span:nth-child(3) {top:10%;right:10%}
.f-6 span:nth-child(4) {bottom:10%;right:10%}
.f-6 span:nth-child(5) {top:38%;left:10%}
.f-6 span:nth-child(6) {top:38%;right:10%}

/* GRAVES */
#grave-white {
    display:flex;
    justify-content:center;
    align-items:center;
    font-family:gothic;
    position:absolute;
    top:15%;
    right:-30px;
    transform-origin:bottom right;
    transform:rotate(-90deg);
    opacity:0.5;
}
#grave-black {
    display:flex;
    justify-content:center;
    align-items:center;
    font-family:gothic;
    position:absolute;
    bottom:35%;
    right:-30px;
    transform-origin:bottom right;
    transform:rotate(-90deg);
    opacity:0.5;
}
meter::-webkit-meter-bar {
    background:none;
    background-color:rgba(255,255,255,0.2);
}
#whitebar,
#blackbar {
    padding-left:5px;
    padding-right:5px;
}
#whitebar::-webkit-meter-optimum-value {
    background:rgba(255,255,255,0.3);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
#blackbar::-webkit-meter-optimum-value {
    background:rgba(255,255,255,0.3);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
#whitepip,
#blackpip {
    transform:rotate(90deg);
}
#white-chip-in,
#black-chip-in {
    transform:rotate(90deg);
}

/* EFFECTS */
.star {
    position:absolute;
    top:50%;
    left:50%;
    opacity:0.6;
    animation: stars 1s ease-in-out;
}

/* KEYFRAMES */
@keyframes spinning {
    0% {transform:rotateX(45deg) rotateY(45deg)}
    100% {transform:rotateX(765deg) rotateY(405deg)}
}
@keyframes stars {
    0% {transform:scale(0)}
    100% {transform:scale(3)}
}